{% extends 'base.html' %}
{% block content %}



<div class="container-fluid" style="padding:0;">

<section class="content-header">
      <h1>
        Sensores
        <small> Edição de Sensor</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fas fa-tachometer-alt"></i> Dashboad</a></li>
        <li class="active">Edição de Sensor</li>
      </ol>
    </section>
    
    <div id="menu_tabs" class="container-fluid" style="padding:15px 15px;">	
		
		<div class="nav-tabs-custom">
		
		<ul class="nav nav-tabs">
              <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="/engines/list">
					<i class="fas fa-satellite-dish"></i>&nbsp; Sensores de Scan <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li role="presentation"><a role="menuitem" href="/engines/list"><i class="fa fa-list"></i> Listar Sensores</a></li>
					<li role="presentation"><a role="menuitem" href="/engines/add"><i class="fa fa-plus"></i>&nbsp; Criar Novo Sensor</a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" href="/engines/types/list"><i class="fa fa-list"></i> Tipos de Sensores</a></li>
					<li role="presentation"><a role="menuitem" href="/engines/types/add"><i class="fa fa-plus"></i>&nbsp; Criar Novo Tipo</a></li>
		        </ul>
			  </li>
              <li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="/engines/policies/list">
					<i class="fa fa-th-list"></i>&nbsp; Políticas de Scanner <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
					<li role="presentation"><a role="menuitem" href="/engines/policies/list"><i class="fa fa-list"></i> Listar Políticas</a></li>
					<li role="presentation"><a role="menuitem" href="/engines/policies/add"><i class="fa fa-plus"></i>&nbsp; Criar Políticas</a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" href="/engines/policies/import"><i class="fa fa-upload"></i> Importar Políticas</a></li>
					<li role="presentation"><a role="menuitem" href="/engines/policies/export?all=true"><i class="fa fa-download"></i> Exportar Políticas</a></li>
                  </ul>
			  </li>
			  <li class="active">
				<a href="#"><i class="fas fa-edit"></i>&nbsp; Edição de Sensor</a>
			  </li>
            </ul>	
	
  <form action="/engines/edit/{{ engine_id }}" method="post" class="form-horizontal" style="margin:0;">
    
      {% csrf_token %}
      {% for field in form %}
          {% if field.errors %}
              <div class="form-group has-error">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-4">
                      {{ field }}
                      <span class="help-block">
                          {% for error in  field.errors %}{{ error }}{% endfor %}
                      </span>
                  </div>
              </div>
          {% elif not field.is_hidden %}
              <div class="form-group">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-4">
                      {{ field }}
                      {% if field.help_text %}
                          <p class="help-block"><small>{{ field.help_text }}</small></p>
                      {% endif %}
                  </div>
              </div>
          {% endif %}
      {% endfor %}
      <div class="form-group submit-div">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-warning col-sm-12">Atualizar Sensor</button>
        </div>
      </div>
  </form>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>
</div>
</div>
<script>
  $('#id_username').parent().parent().addClass("hidden");
  $('#id_password').parent().parent().addClass("hidden");
  $('#id_api_key').parent().parent().addClass("hidden");

  $('#id_authentication_method').change(function(e){
    if($('#id_authentication_method').val() == "HTTPBasic") {
      $('#id_username').parent().parent().removeClass("hidden");
      $('#id_password').parent().parent().removeClass("hidden");
      $('#id_api_key').parent().parent().addClass("hidden");
    } else if ($('#id_authentication_method').val() == "APIKEY") {
      $('#id_username').parent().parent().addClass("hidden");
      $('#id_password').parent().parent().addClass("hidden");
      $('#id_api_key').parent().parent().removeClass("hidden");
    } else {
      $('#id_username').parent().parent().addClass("hidden");
      $('#id_password').parent().parent().addClass("hidden");
      $('#id_api_key').parent().parent().addClass("hidden");
    }
  });
</script>

{% endblock %}
