{% extends 'base.html' %}
{% block content %}

<div class="container">
  <form action="/assets/owners/delete/{{ owner.id }}" method="post" class="form-horizontal">

    <legend>Deseja realmente excluir?</legend>
    {% csrf_token %}
    <p>ID do Ativo: {{ owner.id }}</p>
    <p>Nome: {{ owner.name }}</p>
    <div class="form-group">
      <button type="submit" class="btn btn-warning">Excluir</button>
      <button class="btn btn-primary"><a href="/assets/owners/list">Cancelar</a></button>
    </div>
  </form>


  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock %}
