{% extends 'base.html' %}
{% block content %}

<div class="container-fluid" style="padding:0;">

<section class="content-header">
      <h1>
        Ativos
        <small>Editar Grupo de Ativos</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/assets/list"><i class="fas fa-crosshairs"></i> Ativos</a></li>
        <li class="active"> Editar Grupo de Ativos</li>
      </ol>
    </section>
    <div class="container-fluid" style="padding:15px 15px;">

			<div class="nav-tabs-custom">

			<ul class="nav nav-tabs">
              <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="/assets/list">
					<i class="fas fa-crosshairs"></i>&nbsp; Ativos <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li role="presentation"><a role="menuitem" href="/assets/list"><i class="fa fa-list"></i> Todos os Ativos</a></li>
					<li role="presentation"><a role="menuitem" href="/assets/add"><i class="fa fa-plus"></i>&nbsp; Criar Ativo</a></li>
					<li role="presentation"><a role="menuitem" href="/assets/bulkadd"><i class="fa fa-upload"></i> Importar Ativos</a></li>
					<li role="presentation"><a role="menuitem" href="/assets/api/v1/export"><i class="fa fa-download"></i> Exportar Ativos</a></li>
                </ul>
			  </li>
              <li class="active dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="/assets/list?target=asset_group">
					<i class="fa fa-th-list"></i>&nbsp; Grupos de Ativos <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
					<li role="presentation"><a role="menuitem" href="/assets/list?target=asset_group"><i class="fa fa-list"></i> Todos os Grupos de Ativos</a></li>
					<li role="presentation"><a role="menuitem" href="/assets/addgroup"><i class="fa fa-plus"></i> &nbsp; Criar Grupo de Ativos</a></li>
                  </ul>
			  </li>
              <li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="/assets/owners/list">
					<i class="fa fa-user-secret"></i>&nbsp; Proprietários <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
					<li role="presentation"><a role="menuitem" href="/assets/owners/list"><i class="fa fa-list"></i> Todos os Proprietários</a></li>
					<li role="presentation"><a role="menuitem" href="/assets/owners/add"><i class="fa fa-plus"></i>&nbsp; Criar Proprietário</a></li>
                  </ul>
			  </li>
            </ul>

  <form action="/assets/groups/edit/{{ assetgroup_id }}" method="post" style="margin:0;" class="form-horizontal">
    {% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
            <div class="form-group has-error">
                <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-4">
                    {{ field }}
                    <span class="help-block">
                        {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                </div>
            </div>
        {% elif not field.is_hidden %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_{{ field.name }}" id="label_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-4">
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help-block"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="form-group submit-div">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-warning col-sm-12 form-control-sm">Modificar um grupo de ativo(s)</button>
        <br/>
        <br/>
        <button class="btn btn-danger col-sm-12 form-control-sm" type="button" data-toggle="modal" data-target="#modal-delete-asset-group"
          asset-group-id="{{ asset_group.id }}" asset-group-value="{{ asset_group.name }}">Excluir</button>
      </div>
    </div>
  </form>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  </div>
</div>
</div>

<!-- Delete Asset Group modal -->
<div class="modal fade" id="modal-delete-asset-group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Fechar</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Excluir grupo de ativo(s)</h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div id="delete-asset-group">
          <!-- Content -->
        </div>
        Confirma a Exclus&atilde;o?
        <button type="button" class="btn btn-xs btn-danger btn-delete-asset-group" data-dismiss="modal">Sim</button>
        <button type="button" class="btn btn-xs btn-primary" data-dismiss="modal">N&atilde;o</button>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  // Delete asset group modal
  $("#modal-delete-asset-group").on('show.bs.modal', function (e) {
    id = e.relatedTarget.getAttribute('asset-group-id');
    asset_group_value = e.relatedTarget.getAttribute('asset-group-value');
    $("div#delete-asset-group").attr('asset-group-id', id);
    $("div#delete-asset-group").html("Asset Group Name: <b>"+asset_group_value+"</b><br/><br/>");
  });
  $("button.btn-delete-asset-group").on('click', function (e) {
    id = $("div#delete-asset-group").attr('asset-group-id');
    delete_asset_group_url = "/assets/deletegroup/"+id;
    var request = $.ajax({
      url: delete_asset_group_url,
      method: "POST",
      headers: {"X-CSRFToken": "{{ csrf_token }}"},
      success: function(){
        window.location = "{% url 'list_assets_view' %}";
      }
    });
  });
});

</script>

<script>
  //translate form labels
  var translate = Array();
  translate['label_name'] = 'Nome';
  translate['label_description'] = 'Descrição';
  translate['label_criticity'] = 'Criticidade';
  translate['label_assets'] = 'Ativos';
  translate['label_categories'] = 'Tags';

  for (var key in translate) {
      $('#'+key).html(translate[key]);
  }
  //translate criticity
  $('option[value="low"]').html('Baixa');
  $('option[value="medium"]').html('Média');
  $('option[value="high"]').html('Alta');
</script>

{% endblock %}
