{% load staticfiles %}
{% load pinegap_tags %}
{% load i18n %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'staticv2/reports/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'staticv2/reports/css/reports.css' %}">
    <title>{{site_name}} | Grupo de Ativos - Relatório Detalhado</title>
  </head>
  <body>

    <!-- Top Bar -->
    <div class="top-bar">
      <button onclick="javascript:pdfGen()" class="btn btn-primary ">Salvar PDF</button>
      <a class="back" href="javascript:history.back()"><i class="fas fa-arrow-left"></i> Voltar</a>
    </div>

    <!-- Loading modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
      <div class="modal-dialog" id="modal" role="document">
        <div class="modal-content">
          <div class="modal-header"></div>
          <div class="modal-body">
            <h5 class="modal-title">Estamos gerando o seu PDF</h5>
            <img src="{% static 'staticv2/reports/img/loader.gif' %}" />
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <!-- Blob buffer -->
    <div class="pdf" filename="Relatorio-Grupo-Ativos-Detalhado.pdf" quality="2">
      <!--empty-->
    </div>

    <div class="document">

      <!-- a4 model -->
      <div class="a4-model">

        <div class="a4">
          <div class="container-fluid">
            <!-- row -->
            <div class="row header">
                <div class="col-5">
                  <img class="logo" src="/media/{{report_logo}}" />
                </div>
                <div class="col-7">
                  <h1>Grupo de Ativos / Relatório Detalhado</h1>
                  <small class="date">{% now "d" %} de {% now "F" %} de {% now "Y" %} as {% now "H:i" %}</small>
                </div>
            </div>
            <br class="space-10" />
            <br class="space-10" />

            <div class="a4-loop-content" mm="240"></div>
          </div>
        </div>
      </div>

      <!-- a4-loop -->
      <div class="a4-loop">

        <!--loop- asset-->
        <div class="a4-loop-model" loop-item="asset" mm="95">

            <div class="row finding-assets">
              <div class="col-12">

                <div class="asset">##name##</div>
                <div class="asset-data-overlay">
                  <div class="asset-data">

                    <h5>Ocorrências Classificadas</h5>
                    <br class="space-10">

                    <div class="progress" style="margin-bottom: 0; width:250px;">
                      <div class="progress-bar progress-bar-striped progress-bar-critical" role="progressbar" data-width="##perc_risk_level_critical##" style="width: ##perc_risk_level_critical##%;">
                        ##risk_level_critical##
                      </div>
                      <div class="progress-bar progress-bar-striped progress-bar-high" role="progressbar" data-width="##perc_risk_level_high##" style="width: ##perc_risk_level_high##%;">
                        ##risk_level_high##
                      </div>
                      <div class="progress-bar progress-bar-striped progress-bar-medium" role="progressbar" data-width="##perc_risk_level_medium##" style="width: ##perc_risk_level_medium##%;">
                        ##risk_level_medium##
                      </div>
                      <div class="progress-bar progress-bar-striped progress-bar-low" role="progressbar" data-width="##perc_risk_level_low##" style="width: ##perc_risk_level_low##%;">
                        ##risk_level_low##
                      </div>
                      <div class="progress-bar progress-bar-striped progress-bar-info" role="progressbar" data-width="##perc_risk_level_info##" style="width: ##perc_risk_level_info##%;">
                        ##risk_level_info##
                      </div>
                    </div>


                    <br class="space-10">
                    <h5>Informações do Ativo</h5>
                    <br class="space-10">

                    <table class="table table-sm table-borderless asset-info" style="width:240px; padding-left: 20px; display:inline !important;">
                      <tbody>
                        <tr>
                          <td><b>Nome: </b></td>
                          <td>##name##</td>
                        </tr>
                        <tr>
                          <td><b>Descrição: </b></td>
                          <td class="more-container">##description## <div class="more-content">##description_complete##</div></td>
                        </tr>
                        <tr>
                          <td><b>Criticidade: </b></td>
                          <td class="asset-criticity">##criticity##</td>
                        </tr>
                        <tr>
                          <td><b>Valor em Risco: </b></td>
                          <td>##financeiro##</td>
                        </tr>
                        <tr>
                          <td><b>Risco Qualitativo: </b></td>
                          <td>##qualitative_risk##</td>
                        </tr>
                        <tr>
                          <td><b>Nota de Segurança: </b></td>
                          <td><b>##security_rating##</b></td>
                        </tr>
                        <tr>
                          <td><b>Chances de um Incidente: </b></td>
                          <td class="asset-probability">##security_rating##</td>
                        </tr>
                        <tr>
                          <td><b>Tags: </b></td>
                          <td>##tags##</td>
                        </tr>
                        <tr>
                          <td><b>Data da Criação: </b></td>
                          <td>2019/11/06-10:51:32</td>
                        </tr>
                      </tbody>
                    </table>

                    <h5 style="padding-top:30px;" class="finding-results-title">Resultados Detalhados</h5>
                  </div>
                </div>
              </div>
            </div>

        </div>

        <!--loop- finding-->
        <div class="a4-loop-model" loop-item="finding" mm="60">

            <div class="row finding-assets">
              <div class="col-12">

                <div class="asset-data-overlay">
                  <div class="asset-data">

                    <div class="row finding-item">
                      <div class="col-12">
                        <span class="finding-##severity##"><i></i></span>
                        <p>##type## ##title##</p>
                        <table class="table table-borderless table-sm">
                          <tbody>
                            <tr>
                            <td><b>Descrição</b></td>
                            <td class="more-container">##description## <div class="more-content">##description_complete##</div></td>
                          </tr>

                          <tr after="risk_info">
                            <td><b>Avaliação do Risco</b></td>
                            <td></td><!-- subitems ##risk_info## -->
                          </tr>
                          <!--<tr>
                            <td style="padding-left:20px !important;">Chances de um Incidente</td>
                            <td>##confidence##</td>
                          </tr>
                          -->
                          <tr>
                            <td style="padding-left:20px !important;">Severidade</td>
                            <td class="finding-severity">##severity##</td>
                          </tr>
                          <tr after="vuln_refs">
                            <td><b>Detalhe CPE</b></td>
                            <td></td><!-- subitems ##vuln_refs## -->
                          </tr>
                          <tr>
                            <td><b>Tags</b></td>
                            <td>##tags##</td>
                          </tr>

                          <tr>
                            <td><b>Status</b></td>
                            <td class="finding-status">##status##</td>
                          </tr>

                          <tr>
                            <td><b>Parecer Técnico</b></td>
                            <td>##solution_complete##</td>
                          </tr>

                          <tr class="comments-complete">
                            <td style="width:120px !important;"><b>Parecer DPO</b></td>
                            <td class="comments-content">##comments_complete##</td>
                          </tr>

                          <tr after="links" class="links">
                            <td><b>Informações Relacionadas</b></td>
                            <td class="links-content"></td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="a4-loop-model finding-comments-complete" loop-item="finding-comments-complete" mm="55">

          <div class="row finding-assets">
            <div class="col-12">

              <div class="asset-data-overlay">
                <div class="asset-data" style="padding-top:0;">
                  <div class="row finding-item">
                    <div class="col-12">
                      <table class="table table-borderless table-sm">
                        <tbody>
                          <tr class="comments-container"></tr>
                          <tr class="links-container"></tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- a4-prepend-->
      <div class="a4-prepend">

        <!-- a4 a4-1 -->
        <div class="a4">
          <div class="container-fluid">

            <!-- row -->
            <div class="row header">
                <div class="col-5">
                  <img class="logo" src="/media/{{report_logo}}" />
                </div>
                <div class="col-7">
                  <h1>Grupo de Ativos / Relatório Detalhado</h1>
                  <small class="date">{% now "d" %} de {% now "F" %} de {% now "Y" %} as {% now "H:i" %}</small>
                </div>
            </div>

            <br class="space-10" />
            <br class="space-10" />

            <!-- row -->
            <div class="row">
              <div class="col-5" style="height:230px;">
                <h3>Informações do Grupo</h3>

                <br class="space-10">

                <table class="table table-sm table-borderless" style="width:280px;">
                  <tbody><tr>
                    <td style="text-align:right; padding-right:10px !important; width:100px;"><b>Nome</b></td>
                    <td>{{ asset_group.name }}</td>
                  </tr>
                  <tr>
                    <td style="text-align:right; padding-right:10px !important;"><b>Descrição</b></td>
                    <td class="more-container">{{ asset_group.description|truncatechars:55 }}<div> <div class="more-content more-content-left">{{ asset_group.description }}</div></td>
                  </tr>
                  <tr>
                    <td style="text-align:right; padding-right:10px !important;"><b>Criticidade</b></td>
                    <td class="asset-criticity">{{ asset_group.criticity }}</td>
                  </tr>
                  <tr>
                    <td style="text-align:right; padding-right:10px !important;"><b>Valor em Risco</b></td>
                    <td>{{ asset.financeiro }}</td>
                  </tr>
                  <tr>
                    <td style="text-align:right; padding-right:10px !important;"><b>Nota de Segurança</b></td>
                    <td><b>{{ asset_group.get_risk_grade }}</b></td>
                  </tr>
                  <tr>
                    <td style="text-align:right; padding-right:10px !important;"><b>Data da Criação</b></td>
                    <td>{{ asset_group.created_at|date:"Y/m/d\-H:i:s" }}</td>
                  </tr>
                </tbody>
              </table>

              </div>

              <div class="col-7">
                <h3>Ocorrências Globalmente Classificadas</h3>
                <div class="progress-vertical">
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="height:{{ findings_stats.critical | perc:findings_stats.total | floatformat:"0" }}%; background:#8a0000 !important;" aria-valuenow="{{ findings_stats.critical | perc:findings_stats.total | floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                 <div class="progress" style="left: 80px;">
                   <div class="progress-bar bg-primary" role="progressbar" style="height:{{ findings_stats.high | perc:findings_stats.total | floatformat:"0" }}%; background:#d13624 !important;" aria-valuenow="{{ findings_stats.high | perc:findings_stats.total | floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
                 </div>
                 <div class="progress" style="left: 160px;">
                    <div class="progress-bar bg-blue" role="progressbar" style="height:{{ findings_stats.medium | perc:findings_stats.total | floatformat:"0" }}%; background:#ef8225 !important;" aria-valuenow="{{ findings_stats.medium | perc:findings_stats.total | floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
                 </div>
                 <div class="progress" style="left: 240px;">
                    <div class="progress-bar bg-success" role="progressbar" style="height:{{ findings_stats.low | perc:findings_stats.total | floatformat:"0" }}%; background:#fdfc01 !important;" aria-valuenow="{{ findings_stats.low | perc:findings_stats.total | floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
                 </div>
                 <div class="progress" style="left: 320px;">
                    <div class="progress-bar bg-success" role="progressbar" style="height:{{ findings_stats.info | perc:findings_stats.total | floatformat:"0" }}%; background:#3598db !important;" aria-valuenow="{{ findings_stats.info | perc:findings_stats.total | floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
                 </div>
                 <ul>
                    <li style="left:0px;">Crítica ({{ findings_stats.critical }})</li>
                    <li style="left:87px;">Alta ({{ findings_stats.high }})</li>
                    <li style="left:163px;">Média ({{ findings_stats.medium }})</li>
                    <li style="left:245px;">Baixa ({{ findings_stats.low }})</li>
                    <li style="left:325px;">Desc. ({{ findings_stats.info }})</li>
                </ul>
              </div>
              </div>
              <h3 style="float:left;">Ocorrências por Ativo</h3>
              <br class="space-10">
              <br class="space-10">
            </div>

            <div class="a4-loop-content" mm="180" >

            </div>
          </div>
        </div>
      </div>

      <div class="a4-append">

        <!-- a4 -->
        <div class="a4">
          <div class="container-fluid">

            <!-- row -->
            <div class="row header">
              <div class="col-5">
                <img class="logo" src="/media/{{report_logo}}" />
              </div>
              <div class="col-7">
                <h1>Grupo de Ativos / Relatório Detalhado</h1>
                <small class="date">{% now "d" %} de {% now "F" %} de {% now "Y" %} as {% now "H:i" %}</small>
              </div>
            </div>

            <br class="space-10" />
            <br class="space-10" />

            <!-- row -->
            <div class="row">
              <div class="col-12">
                <h3>Glossário</h3>
              </div>
            </div>

            <br class="space-5" />

            <!-- row-->
            <div class="row">
              <div class="col-12">
                <table class="table table-borderless table-sm glossary">
                  <tr>
                    <td style="width:120px;"><b>Ativo</b></td>
                    <td><p>Qualquer coisa que tenha IP e tenha valor para a empresa, como por exemplo meios de armazenamento, transmissão e processamento da informação, os equipamentos necessários a isso, os sistemas utilizados para tal, os locais onde se encontram esses meios.</p></td>
                  </tr>
                  <tr>
                    <td><b>Ocorrência</b></td>
                    <td><p>Evento detectado e registrado em um ativo.</p></td>
                  </tr>
                  <tr>
                    <td><b>Sensor</b></td>
                    <td><p>Mecanismo técnico que funciona como um motor para fazer Scans.</p></td>
                  </tr>
                  <tr>
                    <td><b>Scan</b></td>
                    <td><p>Mecanismo técnico que faz o tipo de varredura em determinado ambiente que possui ativos e que é responsável por trazer as ocorrências e vincular aos ativos corretos.</p></td>
                  </tr>
                  <tr>
                    <td><b>Severidade</b></td>
                    <td><p>Classificação qualitativa de gravidade de uma ocorrência de segurança encontrada no ativo.</p></td>
                  </tr>
                  <tr>
                    <td><b>Nota de Segurança</b></td>
                    <td><p>Nota de segurança dada a um ativo. Esta nota pode ir de A até F, onde A é a melhor nota (mais seguro) e F é a pior nota (menos seguro). Esta nota é dada automaticamente pelo sistema baseado na quantidade de ocorrências e severidade das mesmas.</p></td>
                  </tr>
                  <tr>
                    <td><b>Nota</b></td>
                    <td><p>É o mesmo que Nota de Segurança.</p></td>
                  </tr>
                  <tr>
                    <td><b>Valor</b></td>
                    <td><p>Endereço do ativo cadastrado no sistema, como IP, domínio, etc.</p></td>
                  </tr>
                  <tr>
                    <td><b>Endereço</b></td>
                    <td><p>Endereço é o mesmo que valor.</p></td>
                  </tr>
                  <tr>
                    <td><b>Valor em Risco</b></td>
                    <td><p>Valor monetário que potencialmente será impactado no caso de um incidente de segurança no ativo. A denominação do Valor em Risco é dada de forma livre.</p></td>
                  </tr>
                  <tr>
                    <td style="width:120px;"><b>Impacto Negócio</b></td>
                    <td><p>Classificação de importância para o negócio que um ativo possui.</p></td>
                  </tr>
                  <tr>
                    <td><b>Probabilidade</b></td>
                    <td><p>É baseada na Nota de Segurança e tem como objetivo evidenciar as chances que determinado ativo tem de sofrer um incidente de segurança. A probabilidade começa com Imponderável e pode chegar até Quase Certo.</p></td>
                  </tr>
                  <tr>
                    <td><b>Risco Negócio</b></td>
                    <td><p>Resultado da matriz que correlaciona Impacto Negócio e Probabilidade, classificando o Risco do Negócio de Imponderável até Extremo.</p></td>
                  </tr>
                  <tr>
                    <td><b>DPO</b></td>
                    <td><p>O DPO (Data Protection Officer), é a pessoa responsável por garantir que a organização processe os dados pessoais da equipe, clientes, fornecedores ou quaisquer outros indivíduos (também chamados de titulares de dados), além de atuar como canal de comunicação entre o controlador, os titulares dos dados e a Autoridade Nacional de Proteção de Dados (ANPD), em conformidade com as regras de proteção de dados aplicáveis. Na Lei Geral de Proteção de Dados brasileira (LGPD), o nome do "DPO" é "Encarregado".</p></td>
                  </tr>
                  <tr>
                    <td><b>CVE</b></td>
                    <td><p>Common Vulnerabilities and Exposures, é uma iniciativa colaborativa de diversas organizações de tecnologia e segurança que criam listas de nomes padronizados para vulnerabilidades e outras exposições de segurança. O objetivo da CVE é padronizar as vulnerabilidades e riscos conhecidos, facilitando a procura, o acesso e o compartilhamento de dados entre diversos indivíduos e empresas.</p></td>
                  </tr>
                  <tr>
                    <td><b>CPE</b></td>
                    <td><p>O CPE (Common Platform Enumeration) é um método padronizado de descrição e identificação de classes de aplicativos, sistemas operacionais e dispositivos de hardware presentes nos ativos de computação de uma empresa. </p></td>
                  </tr>
                  <tr>
                    <td><b>CVSS</b></td>
                    <td><p>Common Vulnerability Scoring System, é um padrão utilizado para qualificar e avaliar vulnerabilidades presentes nos sistemas. Usando esse modelo de numeração, fica mais fácil avaliar quais prioridades devem ser remediadas de maneira mais simples. Essa pontuação indica a gravidade do risco apontado, podendo variar entre baixa, média e alta. Baseado em uma série de critérios, o método aponta uma numeração de 0 a 10, em que, naturalmente, quanto maior a nota, maior o risco.</p></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <!-- end document -->
    </div>

    <script>
      var _dataset = [];
      _dataset['asset']=[];
      _dataset['finding']=[];

      //{% for asset in asset_group.assets.all %}
      var asset_tags = '';
      {% for tag in asset.categories.all %}
         asset_tags += '<span style="background:#eee; padding:2px 5px; margin-right:5px;">{{tag.value|lower}}</span>',
      {% endfor %}

      _dataset['asset'][{{ forloop.counter }}] = {
          name: '{{ asset.name }}',
          description: ''+
          '{% filter escapejs %}
          {{ asset.description|truncatechars:80 }}
          {% endfilter %}'+
          '',
          description_complete: ''+
          '{% filter escapejs %}
          {{ asset.description|linebreaksbr }}
          {% endfilter %}'+
          '',
          value: '{{ asset.value }}',
          financeiro: '{{ asset.financeiro }}',
          type: '{{ asset.type }}',
          criticity: '{{ asset.criticity }}',
          security_rating: '{{ asset.get_risk_grade }}',
          created_at: '{{ asset.created_at|date:"Y/m/d\-H:i:s" }}',
          risk_level_critical: '{{ asset.risk_level.critical }}',
          risk_level_high: '{{ asset.risk_level.high }}',
          risk_level_medium: '{{ asset.risk_level.medium }}',
          risk_level_low: '{{ asset.risk_level.low }}',
          risk_level_info: '{{ asset.risk_level.info }}',
          perc_risk_level_critical: '{{ asset.risk_level.critical | perc:asset.risk_level.total | floatformat:'0' }}',
          perc_risk_level_high: '{{ asset.risk_level.high | perc:asset.risk_level.total | floatformat:'0' }}',
          perc_risk_level_medium: '{{ asset.risk_level.medium | perc:asset.risk_level.total | floatformat:'0' }}',
          perc_risk_level_low: '{{ asset.risk_level.low | perc:asset.risk_level.total | floatformat:'0' }}',
          perc_risk_level_info: '{{ asset.risk_level.info | perc:asset.risk_level.total | floatformat:'0' }}',
          tags: asset_tags,

          {% if  asset.get_risk_grade|keyvalue:"-" == '-' %}
                qualitative_risk: 'Imponderável',
          {% endif %}
          {% if asset.criticity == 'low' and  asset.get_risk_grade  == 'A' %}
                      qualitative_risk: 'Trivial',
          {% endif %}
          {% if asset.criticity == 'low' and  asset.get_risk_grade == 'B' %}
                        qualitative_risk: 'Trívial',
          {% endif %}
          {% if asset.criticity == 'medium' and asset.get_risk_grade == 'A' %}
                        qualitative_risk: 'Trívial',
          {% endif %}
          {% if asset.criticity == 'high' and asset.get_risk_grade == 'A' %}
                        qualitative_risk: 'Trívial',
          {% endif %}
          {% if asset.criticity == 'high' and asset.get_risk_grade == 'B' %}
                        qualitative_risk: 'Aceitável',
          {% endif %}
          {% if asset.criticity == 'medium' and asset.get_risk_grade == 'B' %}
                        qualitative_risk: 'Aceitável',
          {% endif %}
          {% if asset.criticity == 'medium' and asset.get_risk_grade == 'C' %}
                        qualitative_risk: 'Aceitável',
          {% endif %}
          {% if asset.criticity == 'low' and  asset.get_risk_grade == 'C' %}
                        qualitative_risk: 'Aceitável',
          {% endif %}
          {% if asset.criticity == 'low' and asset.get_risk_grade == 'D' %}
                        qualitative_risk: 'Aceitável',
          {% endif %}
          {% if asset.criticity == 'low' and  asset.get_risk_grade == 'E'  %}
                        qualitative_risk: 'Moderado',
          {% endif %}
          {% if asset.criticity == 'medium' and asset.get_risk_grade == 'D' %}
                        qualitative_risk: 'Moderado',
          {% endif %}
          {% if asset.criticity == 'high' and asset.get_risk_grade == 'C' %}
                        qualitative_risk: 'Moderado',
          {% endif %}
          {% if asset.criticity == 'high' and asset.get_risk_grade == 'D'  %}
                        qualitative_risk: 'Substancial',
          {% endif %}
          {% if asset.criticity == 'medium' and  asset.get_risk_grade == 'E'  %}
                        qualitative_risk: 'Substancial',
          {% endif %}
          {% if asset.criticity == 'low' and asset.get_risk_grade == 'F' %}
                        qualitative_risk: 'Substancial',
          {% endif %}
          {% if asset.criticity == 'medium' and asset.get_risk_grade == 'F' %}
                        qualitative_risk: 'Intolerável',
               {% endif %}
          {% if asset.criticity == 'high' and  asset.get_risk_grade == 'E' %}
                        qualitative_risk: 'Intolerável',
          {% endif %}
          {% if asset.criticity == 'high' and asset.get_risk_grade == 'F' %}
                        qualitative_risk: 'Extremo',
          {% endif %}
      };

      _dataset['finding'][{{ forloop.counter }}]=[];
      //{% for finding in asset.finding_set.all %}
      _dataset['finding'][{{forloop.parentloop.counter}}][{{ forloop.counter }}] = {
          parent_id: {{forloop.parentloop.counter}},
          parent_dataset: 'asset',
          raw_finding_id: '{{ finding.raw_finding_id }}',
          severity: '{{ finding.severity }}',
          type: '{{ finding.type }}',
          status: '{{ finding.status }}',
          title: '{{ finding.title }}',
          confidence: '{{ finding.confidence }}',
          comments: ''+
          '{% filter escapejs %}
          {{ finding.comments|truncatechars:80 }}
          {% endfilter %}'+
          '',
          comments_complete: ''+
          '{% filter escapejs %}
          {{ finding.comments|linebreaksbr }}
          {% endfilter %}'+
          '',
          description: ''+
          '{% filter escapejs %}
          {{ finding.description|truncatechars:80 }}
          {% endfilter %}'+
          '',
          description_complete: ''+
          '{% filter escapejs %}
          {{ finding.description|linebreaksbr }}
          {% endfilter %}'+
          '',
          solution: ''+
          '{% filter escapejs %}
          {{ finding.solution|truncatechars:80 }}
          {% endfilter %}'+
          '',
          solution_complete: ''+
          '{% filter escapejs %}
          {{ finding.solution|linebreaksbr }}
          {% endfilter %}'+
          '',
          tags: '{{ finding.tags | join:", " }}',
          //{% if not finding.links %}
          links: [{}],
          //{% else %}
          links: [
          //{% for link in finding.links %}
            {  link: '{{ link }}' },
          //{% endfor %}
          ],
          //{% endif %}
          //{% if not finding.risk_info %}
          risk_info: [{}],
          //{% else %}
          risk_info: [{
            //{% for key, value in finding.risk_info.items %}
              '{{ key }}': '{{ value }}',
            //{% endfor %}
          }],
          //{% endif %}
          //{% if not finding.vuln_refs %}
          vuln_refs: [{}],
          //{% else %}
          vuln_refs: [{
            //{% for key, value in finding.vuln_refs.items %}
              //{% if key == "CVE" %}
                '{{ key }}': '{{ value|joinby:"," }}',
              //{% else %}
                '{{ key }}': '{{ value }}',
              //{% endif %}
            //{% endfor %}
          }],
          //{% endif %}
      };
      //{% endfor %}

      //{% endfor %}

    </script>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'staticv2/reports/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'staticv2/reports/js/popper.min.js' %}"></script>
    <script src="{% static 'staticv2/reports/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'staticv2/reports/js/jspdf.min.js' %}"></script>
    <script src="{% static 'staticv2/reports/js/html2canvas.min.js' %}"></script>
    <script src="{% static 'staticv2/reports/js/Chart.min.js' %}"></script>
    <script src="{% static 'staticv2/reports/js/fontawesome.js' %}"></script>
    <script src="{% static 'staticv2/reports/js/chartjs.showAllTooltips.js' %}"></script>
    <script src="{% static 'staticv2/reports/js/replaceArray.js' %}"></script>
    <script src="{% static 'staticv2/reports/js/pdfGen.js' %}"></script>
    <script src="{% static 'staticv2/reports/js/dataProc.js' %}"></script>

    <script>
      // Chances de um Incidente
      var probability = {
          '-': 'Imponderável',
          'A': 'Improvável',
          'B': 'Rara',
          'C': 'Pouco Provável',
          'D': 'Possível',
          'E': 'Provável',
          'F': 'Quase Certo'
      };
      var asset_probability = $('.asset-probability');
      for(i=0; i < asset_probability.length; i++){
          var asset_content = $(asset_probability[i]).html();
          $(asset_probability[i]).html(probability[asset_content]);
      }

      // Status
  		var fstatus = {
  			'new': 'Nova',
  			'ack': 'Ignorada',
  			'mitigated': 'Mitigada',
  			'confirmed': 'Confirmada',
  			'patched': 'Corrigida',
  			'closed': 'Encerrada',
  			'false-positive': 'Falso-Positivo'
  		};
  		var finding_status = $('.finding-status');

  		for(i=0; i < finding_status.length; i++) {
  			var finding_status_html =  $(finding_status[i]).html();
  			$(finding_status[i]).html(fstatus[finding_status_html]);
  		}

      // Criticidade
      var criticity = {
          'critical': 'Crítica',
          'high': 'Alta',
          'medium': 'Média',
          'low': 'Baixa',
          'info': 'Desconhecida'
      };
      var asset_criticity = $('.asset-criticity');
      for(i=0; i < asset_criticity.length; i++){
          var asset_content = $(asset_criticity[i]).html();
          $(asset_criticity[i]).html(criticity[asset_content]);
      }

      // Severidade
      var severity = {
          'critical': 'Crítica',
          'high': 'Alta',
          'medium': 'Média',
          'low': 'Baixa',
          'info': 'Desconhecida',
          '##severity##': '-'
      };

      var finding_severity = $('.finding-severity');
      for(i=0; i < finding_severity.length; i++){
          var finding_content = $(finding_severity[i]).html();
          $(finding_severity[i]).html(severity[finding_content]);
      }

    </script>

  </body>
</html>
